<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - Method Not Allowed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="content">
        <h1>405 - Method Not Allowed</h1>
        <p class="user-message">Sorry, the method used in the request is not allowed for the requested resource.</p>
        <a href="{{ url_for('index') }}">Go back to the home page</a>
    </div>
</body>

</html>