<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>505 - Internal Server Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="content">
        <h1>505 - Internal Server Error</h1>
        <p class="user-message">Sorry, the server encountered an unexpected condition that prevented it from fulfilling the request.</p>
        <a href="{{ url_for('index') }}">Go back to the home page</a>
    </div>
</body>

</html>